/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*@import(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css);
@import(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css);*/
html {
  background-color: #fff;
}
body {
  width: 100%;
  font-size: 16px;
}
li {
  line-height: 120%;
}

div#topbar,
div#banner,
div#breadcrumbs,
div#bodyColumn,
footer {
  width: 98%;
  max-width: 1000px;
  margin-left: 5px;
  margin-right: 5px;
  clear: both;
}
footer {
  background-color: #e5e5e5;
}
footer .row, footer p, footer .pull-right {
  margin: 5px;
}
div#search-form.navbar-search.pull-right {
  width: 290px;
  margin-right: 0;
  margin-top: -5px;
  margin-left: 0;
  position: initial;
}
li#publishDate.pull-right {
  list-style: none;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container,
.navbar-inner {
  width: 100%;
}
/* Change the color and effect when clicking in menus */
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-submenu:focus>a {
  background-color: #e5e5e5;
  background-image: none;
  color: #000;
  font-weight: bolder;
}

.dropdown-backdrop {
  position: static;
}

/* Google Custom Search - Bootstrap Theme
-------------------------------------------------- */

@gs-title-size: @font-size-h4;
@gs-url-color: @brand-success;
@gs-thumbnail-size: 90px;



/* Search Form
-------------------------------------------------- */

/* Form Wrapper */
table.gsc-search-box {
  width: 100%;
  margin: 0 0 (@line-height-computed / 2);
}

/* Query Field */
.gsc-input {
  width: 100%;
  input& {
    .form-control();
    .input-lg();
    .border-right-radius(0);
  }
}

/* Search Button */
input.gsc-search-button {
  .btn();
  .btn-primary();
  .btn-lg();
  .border-left-radius(0);
}

/* Google Logo */
.gsc-branding {
  float: right;
}

.gsc-completion-container {
}



/* Grid
-------------------------------------------------- */
.gsc-wrapper {
  .make-row();
}

/* Results Column */
.gsc-resultsbox-visible {
  .make-sm-column(8);
}

/* Ads Column */
.gsc-adBlock {
  .make-sm-column(4);
  .pull-right();
  margin-top: @line-height-computed;
}



/* Search Results
-------------------------------------------------- */

/* Result Wrapper */
.gsc-result {
  margin-top: @line-height-computed;
  td {
    vertical-align: top;
  }
}

/* Result Title */
.gs-title {
  font-size: @gs-title-size;
}

/* Result URL */
.gs-visibleUrl-long {
  color: @gs-url-color;
}

/* Result Thumbnail */
.gs-image-box {
  margin-right: 10px;
  width: @gs-thumbnail-size;
}
a.gs-image {
  .thumbnail();
  margin-bottom: 0;
  &:hover,
  &:focus {
    border-color: @link-color;
  }
}



/* Pagination
-------------------------------------------------- */
.gsc-cursor {
  display: inline-block;
  margin: @line-height-computed 0;
  border-radius: @border-radius-base;
}
.gsc-cursor-page {
  position: relative;
  float: left; // Collapse white-space
  padding: @padding-base-vertical @padding-base-horizontal;
  line-height: @line-height-base;
  text-decoration: none;
  color: @pagination-color;
  background-color: @pagination-bg;
  border: 1px solid @pagination-border;
  margin-left: -1px;
  &:hover,
  &:focus {
    z-index: 3;
    color: @pagination-hover-color;
    background-color: @pagination-hover-bg;
    border-color: @pagination-hover-border;
  }
  &:first-child {
    margin-left: 0;
    .border-left-radius(@border-radius-base);
  }
  &:last-child {
    .border-right-radius(@border-radius-base);
  }
}
.gsc-cursor-current-page {
  &,
  &:hover,
  &:focus {
    z-index: 2;
    color: @pagination-active-color;
    background-color: @pagination-active-bg;
    border-color: @pagination-active-border;
    cursor: default;
  }
}



/* Hidden Elements
-------------------------------------------------- */
.gs-watermark,
.gsc-resultsHeader,
.gsc-tabsAreaInvisible,
.gs-visibleUrl-short,
.gsc-url-top,
.gsc-thumbnail-inside,
.gsc-adBlockInvisible,
.gsc-adBlockNoHeight
.gsc-clear-button {
  display: none !important;
}

@media only screen and (max-width: 977px) {
  /* Without this rule, drop-down divs are a fixed height
   * the first time they are expanded */
  .collapse.in {
      height: auto !important;
  }
  /* Fix Google Search Results box on small screens */
  input.gsc-input,
  .gsc-input-box,
  .gsc-input-box-hover,
  .gsc-input-box-focus,
  .gsc-search-button,
  .gsc-results-wrapper-visible {
      box-sizing: content-box;
      line-height: normal;
  }
  div#search-form.navbar-search.pull-right {
    padding: 0;
    margin-left: ;
    width: 100%;
    clear: both;
  }
}
